* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #79e3d7, #9bb2e4);
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#todoapp {
  padding: 15px 7px 11px 13px;
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 5px;
  align-items: center;
}
#todoapp:focus {
  outline: none;
}
#todoapp::placeholder {
  font-size: 15px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 40px;
}
#add {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  border: none;
  font-weight: 700;
  background-color: #0d9bed;
}
#add:focus {
  outline: none;
}

#list {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}
#list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 325px;
  height: 40px;
  border-radius: 3px;
}
#list li p {
  font-size: 17px;
  text-decoration: none;
  position: relative;
}
#list li.completed div p::before {
  content: "";
  width: 200px;
  height: 3px;
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: #0d9bed;
}
#list li button {
  height: 40px;
  width: 45px;
  background-color: red;
  border-radius: 3px;
  border: none;
  outline: none;
}
#list li i {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

input[type="checkbox"] {
  transform: scale(2);
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 8px;
  
}
